<div *ngIf="initialLoader" style="position: absolute;top:45%;right:40%;z-index:9">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<c-row ngPreserveWhitespaces style="min-height:81vh!important;">
  <c-container [fluid]="true" class="m-l-2 p-relative">
    <div class="d-flex align-center">
      <span class="f-s-13 light-fnt3 f-sans f-w-600 c-pointer"><img src="assets/icons/home.png" width="17px" height="17px"
          alt=""></span>
      <div class="d-flex align-center p-t-6 m-l-10"><mat-icon class="light-fnt6 f-s-20">keyboard_arrow_right</mat-icon>
      </div>
      <div class="d-flex align-center p-t-6 m-l-10"><mat-icon class="light-fnt6 f-s-20">more_horiz</mat-icon>
      </div>
      <span class="m-l-10 f-s-14 c-primary f-roboto f-w-600 d-flex align-center m-t-2 ">Content</span>
    </div>
    <div class=" action-items3 p-0 m-b-15 m-t-0 p-relative">
      <div class="d-flex align-center j-space p-2 " [ngClass]="animationState=='in' ? 'm-b-15':''">
        <div class=" d-flex  align-center f-heebo">
          <span class="f-w-600 f-s-26 m-t-5">Careers</span>
          <!-- <span class="f-s-13 f-w-500 c-default">Welcome to Blogs Page. here you can manage all the blogs.</span> -->
        </div>
        <div class="d-flex align-center menu-items">
          <div (click)="toggleShowRecentBlogs()" [@slideInOut]="animationState=='in' ? 'out' : 'in'"
            class="add-blog3 f-roboto f-s-16 fw-semibold" style="border-radius: 25px!important;">
            <!-- <span class="m-r-10 m-l-5 f-s-14 f-sintika">Overview</span> -->
            <mat-icon class="f-s-20 m-l-2 m-t-4">category</mat-icon>
            <i class="fa fa-chevron-down m-t-4 f-s-13"></i>
          </div>
          <div  (click)="createCareer()" class="add-blog2 f-roboto m-l-20 fw-semibold c-pointer">
            <mat-icon class="f-s-20 m-t-2">post_add</mat-icon>
            Create New Career
          </div>
        </div>
      </div>
    </div>
    <c-container breakpoint="xxl" clas="p-0 p-r-0 ">
      <c-row md="12" sm="12" class="d-flex j-space  p-t-0 p-b-10 p-l-0">
        <c-col xl="2" md="12" sm="12" class="p-20 p-l-0 p-r-15">
          <div class="p-relative">
            <div>
              <div style="color:rgb(46, 59, 107)!important"
                class="f-s-18 p-10 p-l-0  d-flex align-center f-roboto fw-bold"> <mat-icon class="f-s-18"
                  style="line-height: 20px;">widgets</mat-icon> Activity</div>
            </div>
            <div  (click)="blogTypeFilterChange(type)" *ngFor="let type of careerTypeList" [ngClass]="selectedCareerType?.value == type?.value ? 'active fw-semibold' : 'f-w-500'" class="tab-btns p-b-20  d-flex f-s-15  f-heebo align-center j-space sub m-l-5 sub">
              <div [ngClass]="selectedCareerType?.value == type?.value ? 'p-t-25 p-b-25' : 'p-t-15 p-b-15'" style="transition: padding  0.25s ease;"
                class="text-overflow-ellipsis d-flex align-center j-space w-100 f-s-15 f-roboto p-l-15  p-10 m-0 ">
                <span>{{type?.name}}</span> </div>
              <span *ngIf="selectedCareerType?.value == type?.value" class="d-flex align-center f-s-13"><mat-icon
                  style="line-height: 25px;color:rgb(184, 203, 218)">chevron_right</mat-icon></span>
            </div>
            <div class="m-t-20">
              <c-row  class="p-t-10 p-b-10 ">
                <c-col xl="12" class="">
                  <div class="p-15">
                  </div>
                </c-col>
              </c-row>
            </div>
            <div  *ngIf="selectedRow" class="m-t-20">
              <c-row  class="p-t-10 p-b-10 ">
                <c-col xl="12" class="">
                  <div class="b-gr p-15">
                    <div class="w-100 d-flex j-end flex-1"></div>
                    <h5 class="f-sans fw-bold f-s-18 text-o clamp">{{selectedRow?.Role}}</h5>
                    <div class="f-heebo fw-semibold f-s-14">{{selectedRow?.workLocation}}</div>
                    <div class="f-heebo fw-semibold f-s-14">{{selectedRow?.workMode}}</div>
                    <div class="f-heebo fw-semibold f-s-14 " style="color:rgb(34, 34, 109)">{{selectedRow?.experience}}</div>
                    <p class="f-s-13 m-t-10" style="text-overflow: clip;overflow: hidden;white-space: wrap;max-height:220px ;">{{selectedRow?.preview}}</p>
                    <small (click)="gotToEditingPage(selectedRow?.id)" class="d-flex align-center f-s-13 m-t-10 c-pointer">Edit Post <mat-icon class="f-s-18 m-l-4"
                        style="line-height: 24px;"> call_made</mat-icon></small>
                  </div>
                </c-col>
              </c-row>
            </div>
          </div>
        </c-col>
        <c-col xl="10" md="12" sm="12" class="p-t-0 p-0">
          <div class="table-view p-t-0 " #scrollTop>
            <div class=" p-15 d-flex j-space align-end light-bg-box m-b-20">
              <div class="d-flex align-end w-100">
                <div class="m-r-15 " style="width:49%">
                  <div class=" f-inter  m-b-10 c-default"><span class="f-s-14 f-w-500">Search for entries</span></div>
                  <div class="w-100 h-100 p-relative">
                    <input type="text" class="select-search p-l-30" #search [(ngModel)]="searchValue" (keyup)="searchBlogs(search?.value)"
                      placeholder="Search" name="" id="">
                    <mat-icon class="search-btn f-s-20">search</mat-icon>
                  </div>
                </div>
                <div style="width:20%">
                  <div class=" f-inter m-b-10 c-default">
                    <h6 class="f-s-14 f-w-500">Status</h6>
                  </div>
                  <div>
                    <app-status-filter [clearStatusFilter]="clearStatusFilter"
                      (statusSelectEvent)="filterTable_($event)"></app-status-filter>
                  </div>
                </div>
                <div class="m-l-15 " style="width:70px">
                  <div class=" f-inter  m-b-10 c-default">
                    <h6 class="f-s-14 f-w-500">Entries</h6>
                  </div>
                  <div [matMenuTriggerFor]="prePageMenu" class="w-100 h-100 p-10 fw-bold t-a-left f-sans p-relative select-search">
                    <span>{{taskFilterQuery?.limit}}</span>
                    <mat-menu #prePageMenu="matMenu">
                      <div (click)="perPageChange(5)" mat-menu-item [ngClass]="taskFilterQuery?.limit==5 ? 'selected-pageitems' : ''">5</div>
                      <div (click)="perPageChange(10)"  mat-menu-item [ngClass]="taskFilterQuery?.limit==10 ? 'selected-pageitems' : ''">10</div>
                      <div (click)="perPageChange(15)" mat-menu-item [ngClass]="taskFilterQuery?.limit==15 ? 'selected-pageitems' : ''">15</div>
                    </mat-menu>
                  </div>
                </div>
                <button  *ngIf="search?.value || statusFilter== 'Publish' || statusFilter =='Draft' " (click)="clearAllFilters()" mat-icon-button class="b-gr m-l-20 m-r-20"
                  aria-label="Clear all filters" matTooltip="Clear All Filters">
                  <mat-icon>filter_list_off</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="tasks?.length === 0 && !loader "
              class="br-4 m-b-20 text-center d-flex  j-center m-t-30 bg-white norecords">No Records</div>
            <ng-container *ngIf="loader">
              <div class="m-b-15 h-40 d-flex align-center j-center br-4 bg-white">
                <div class="d-flex w-100 align-center j-center bg-white">
                  <div class="f-w-500 f-s-12 flex-column align-center j-center"><mat-spinner
                      diameter="35"></mat-spinner>
                    <span class="m-l-2">Please wait while we fetch the Blogs</span>
                  </div>
                </div>
              </div>
            </ng-container>
            <div *ngIf="tasks?.length > 0 && !loader">
              <app-table-view [tasks]="tasks" [statusFilter]="statusFilter" [headding]="columnsList" [content]="'career'"
                (navigateEditPage)="gotToEditingPage($event)" [currentPage]="skipNumber" [totalItems]="tasks?.length"
                [currentLimit]="taskFilterQuery?.limit" (deleteEvent)="deleteItem($event)" (selectRowEvent)="showDetails($event)">
              </app-table-view>
              <div class="pagination d-flex j-center m-b-5" *ngIf="tasks?.length > 0">
                <!-- <span class="m-l-15 c-gr">
                  Show
                  <select (change)="perPageChange($event)">
                    <option value="5" [selected]="taskFilterQuery?.limit === 5">5</option>
                    <option value="10" [selected]="taskFilterQuery?.limit === 10">10</option>
                    <option value="15" [selected]="taskFilterQuery?.limit === 15">15</option>
                  </select>
                  Entries
                </span> -->
                <pagination-controls class="pagination-box f-s-15" *ngIf="tasks?.length > 0"
                  (pageChange)="pageChange($event)"></pagination-controls>
              </div>
            </div>
          </div>

        </c-col>

      </c-row>
    </c-container>


  </c-container>
</c-row>