
<div >
  <div class="hdr font-bold w-100 text-sm px-3 py-3 border-b-2 border-zinc-100 flex justify-between items-center">
      <div>Save Package</div>
      <div (click)="cancelClick()"  class="text-lg font-medium opacity-70 cursor-pointer"><img src="assets/icons/clear.svg" width="17px" height="17px" alt="" srcset=""></div>
  </div>
  <div class="details">
      <div class="custom-grid mt-3  gap-0.5  items-center px-3">
        <div class="font-semibold text-sm text-gray-500 py-2">Status <span class="text-red-500">*</span></div>
        <div (click)="isStatusDropdown=!isStatusDropdown" (clickOutside)="isStatusDropdown=false" class="w-fit cursor-pointer   relative  items-center gap-0.5 pt-0.5  ">
            <div class="relative flex flex-col w-fit">
              <div class="flex items-center w-fit justify-between">
                  <div
                      class="text-sm font-semibold  mr-2  relative  w-44   overflow-hidden text-ellipsis">
                      {{selectedStatus?.statusName ?  selectedStatus?.statusName : 'Select Status'}}
                  </div>
                  <svg class="w-2 h-2 ms-2 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 4 4 4-4" />
              </svg>
              </div>
            </div>
            <ng-container *ngIf="isStatusDropdown">
              <app-custom-dropdown [checkboxes]="false" [values]="statusList" [displayName]="'statusName'" (selectEvent)="selectStatus($event)"></app-custom-dropdown>
            </ng-container>
        </div>
          <div class="font-semibold text-sm text-gray-500 py-2">Select Assignee <span class="text-red-500">*</span></div>
          <div (click)="isAssigneeDropdown=!isAssigneeDropdown" (clickOutside)="isAssigneeDropdown=false" class="w-fit cursor-pointer  relative items-center gap-0.5 pt-0.5">
              <div class="relative flex flex-col w-fit">
                <div  class="flex items-center w-fit justify-between">
                    <div
                        class="text-sm font-semibold mr-2   relative    w-44  overflow-hidden text-ellipsis">
                        {{selectedAssignee ? selectedAssignee : 'Select an Assignee...'}}
                       
                    </div>
                    <svg class="w-2 h-2 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
                
                </div>
              </div>
              <ng-container *ngIf="isAssigneeDropdown">
                <app-custom-dropdown [checkboxes]="false" [values]="userList" [displayName]="''" (selectEvent)="selectAssignee($event)"></app-custom-dropdown>
              </ng-container>
          </div>
    
      </div>
      <div class="w-full py-4 px-3 text-sm">
        <div  commenteditable="true"    placeholder="Leave a comment" [spellcheck]="false"  [(ngModel)]="comment" class="cmt placeholder:text-gray-200 text-black font-medium border-2 border-gray-300 rounded-lg px-2.5 py-2 w-full min-h-20 outline-none "></div>
      </div>
    
      
  </div>
  <div class="flex gap-1 px-2 py-3  w-full justify-end items-center ">
    <div (click)="okClick()" [ngClass]="true ? ' text-pink-600 cursor-pointer  border-pink-500 border-2' : ' text-gray-500 cursor-default'"  class="cursor-pointer rounded-2xl  text-sm font-semibold px-3.5 py-1 ">
        Save</div>
    <div (click)="cancelClick()" [ngClass]="false ? ' text-pink-600  cursor-pointer ' : ' text-pink-600 '" class="border-pink-500 border-2 ml-2 cursor-pointer rounded-2xl  text-sm  font-semibold  px-3 py-1 " >Cancel</div>
</div>
</div>