<div [formGroup]="form">
    <c-row class="m-l-2 ctn-breadcrumb">
      <c-col md="6" xl="6" sm="6" xs="6" class="m-l-0 p-l-0">
        <div class="d-flex align-center">
          <span  class="f-s-13 light-fnt3 f-sans f-w-600 c-pointer"><img src="assets/icons/home.png" width="17px" height="17px"
              alt=""></span>
          <div class="d-flex align-center p-t-6 m-l-10"><mat-icon
              class="light-fnt6 f-s-20">keyboard_arrow_right</mat-icon>
          </div>
          <div class="d-flex align-center p-t-6 m-l-10"><mat-icon class="light-fnt6 f-s-20">more_horiz</mat-icon>
          </div>
          <span [routerLink]="'/careers'" class="m-l-10 f-s-13 c-gr-light f-inter fw-semibold d-flex align-center m-t-2 c-pointer">Careers</span>
          <div class="d-flex align-center p-t-6 m-l-10"><mat-icon
              class="light-fnt6 f-s-20">keyboard_arrow_right</mat-icon>
          </div>
          <span class="m-l-10 f-s-14 c-primary f-roboto f-w-600 d-flex align-center m-t-2 ">Edit</span>
        </div>
      </c-col>
      <c-col md="6" xl="6" sm="6" xs="6">
      </c-col>
    </c-row>
    <c-row ngPreserveWhitespaces style="min-height:75vh!important;">
      <div class=" action-items3 p-0 m-b-10 m-t-10">
        <div class="d-flex align-center j-space p-2 m-b-15">
          <div class="    d-flex  align-center f-inter">
            <span class="fw-semibold f-s-24 f-heebo m-t-5">Edit Career</span>
          </div>
          <div class="d-flex align-center menu-items">
            <div class="f-roboto fw-semibold d-flex align-center">
              <span class="m-r-10 f-s-13 f-sintika">Publish On</span>
              <div (click)="publishDate?.showPicker()" class="add-blog3 f-roboto m-r-20 p-10  fw-semibold c-pointer">
                <input type="date" #publishDate [max]="getToday()" style="padding-left: 2px;visibility: hidden;width: 1px!important;"
                  placeholder="Date" formControlName="publishingDate" id="publishingDate" name="publishingDate">
                <mat-icon class="f-s-20 m-t-2">history_toggle_off</mat-icon>
                <div class="f-s-13">{{form?.controls?.publishingDate?.value ? (form?.controls?.publishingDate?.value |
                  date:'YYYY-MM-dd') : 'Select Date'}}</div>
                <mat-icon class="f-s-20 m-t-4 m-l-5">expand_more</mat-icon>
              </div>
  
            </div>
            <div class="no-close f-roboto fw-semibold d-flex align-center  sts-filter">
              <span class="no-close m-r-10 f-s-13 f-sintika">Status</span>
              <div [matMenuTriggerFor]="statusmenu" class=" no-close add-blog3 f-roboto m-r-20 p-5  fw-semibold c-pointer">
                <mat-icon class="no-close f-s-20 m-t-2">published_with_changes</mat-icon>
                <div class="no-close grid-item j-space p-relative">
                  <span class="no-close m-r-5">{{selectedStatusType?.name}}</span> <span><i
                      class="no-close fa fa-chevron-down f-s-12 p-r-5 c-gr f-w-400"></i></span>
                  <mat-menu #statusmenu="matMenu">
                    <div mat-menu-item *ngFor="let item of statusList"
                      [ngClass]="{'selected-item' :selectedStatusType == item }" (click)="onOptionSelected(item,$event)">
                      {{item?.name}}</div>
                  </mat-menu>
                </div>
              </div>
            </div>
            <div class="no-close f-roboto fw-semibold d-flex align-center  sts-filter">
              <span class="no-close m-r-10 f-s-13 f-sintika">Company</span>
              <div [matMenuTriggerFor]="domainmenu" class=" no-close add-blog3 f-roboto m-r-20 p-5  fw-semibold c-pointer">
                <mat-icon class="no-close f-s-20 m-t-2">domain</mat-icon>
                <div class="no-close grid-item j-space p-relative">
                  <span class="no-close m-r-5">{{selectedDomain}}</span> <span><i
                      class="no-close fa fa-chevron-down f-s-12 p-r-5 c-gr f-w-400"></i></span>
                  <mat-menu #domainmenu="matMenu">
                    <div mat-menu-item *ngFor="let item of domainList"
                      [ngClass]="{'selected-item' :selectedDomain == item }" (click)="onOptionSelectedCompany(item)">
                      {{item}}</div>
                  </mat-menu>
                </div>
              </div>
  
            </div>
  
            <div (click)="updateCareer(form?.value)" class="add-blog2 f-roboto m-r-20 p-10  fw-semibold c-pointer">
              <mat-icon class="f-s-20 m-t-2">post_add</mat-icon>
              Update
            </div>
            <button (click)="cancel()" mat-icon-button class="remove-blog2 p-4">
              <mat-icon class="f-s-20 m-t-5">close</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <c-col md="3" style="background-color: rgb(247, 248, 249);border-radius: 8px;">
        <div>
          <div class="p-relative p-15">
            <div>
              <div style="color:rgb(46, 59, 107)!important"
                class="f-s-17 p-10 p-l-0  d-flex align-center f-heebo fw-bold">
                <mat-icon class="f-s-17" style="line-height: 20px;">widgets</mat-icon> Workspace
              </div>
            </div>
            <div class="tab-btns m-t-0  sub m-l-5 p-relative" [ngClass]="checkBasicDetailsFilled() ? 'active' : ''">
              <h6 class="text-overflow-ellipsis f-s-14 f-w-600 f-heebo p-l-15 p-t-20 p-b-20 p-10 m-0 ">
                <div class="stepper-icon">
                  <mat-icon class="f-s-17" [ngClass]="checkBasicDetailsFilled() ? 'active' : ''" >{{checkBasicDetailsFilled() ? 'check_circle' : 'mode_standby'}}</mat-icon>
                </div>
                Basic Details
              </h6>
            </div>
            <div class="tab-btns m-t-0  sub m-l-5 p-relative p-t-0 m-t-0" [ngClass]="checkContentFilled()  ? 'active' : ''">
              <h6 class="text-overflow-ellipsis f-s-14 f-w-600 f-heebo p-l-15 p-t-20 p-b-20 p-10 m-0 ">
                <div class="stepper-icon">
                  <mat-icon class="f-s-17" [ngClass]="checkContentFilled() ? 'active' : ''" >{{checkContentFilled() ? 'check_circle' : 'mode_standby'}}</mat-icon>
                </div>
                Content
              </h6>
            </div>
            <div class="tab-btns m-t-0  sub m-l-5 p-relative p-t-0 m-t-0" [ngClass]="checkPublishingInfoFilled() ? 'active' : ''">
              <h6 class="text-overflow-ellipsis f-s-14 f-w-600 f-heebo p-l-15 p-t-25 p-b-30 p-10 m-0 ">
                <div class="stepper-icon">
                  <mat-icon class="f-s-17" [ngClass]="checkPublishingInfoFilled() ? 'active' : ''" >{{checkPublishingInfoFilled() ? 'check_circle' : 'mode_standby'}}</mat-icon>
                </div>
                Publish Details
              </h6>
            </div>
            <div class="tab-btns  d-flex align-center m-b-30 sub m-l-5  sub-last" [ngClass]="checkBasicDetailsFilled() && checkContentFilled() && checkPublishingInfoFilled() ? 'done' : ''">
              <h6 class="f-s-15 f-w-600 f-heebo p-l-14 p-20 p-t-20 p-b-0 m-0 last-sub">
                <div class="stepper-icon2">
                  <mat-icon class="f-s-18" [ngClass]="checkBasicDetailsFilled() && checkContentFilled() && checkPublishingInfoFilled() ? 'done' : ''">{{checkBasicDetailsFilled() && checkContentFilled() && checkPublishingInfoFilled() ? 'check_circle' : 'cancel'}}</mat-icon>
                </div>
                Completed</h6>
            </div>
          </div>
        </div>
        <div class="m-t-30 p-10" *ngIf="latestCareers && latestCareers?.length>0">
          <h6 class="f-sintika f-w-600 f-s-16">Recent Careers</h6>
        <div class=" m-b-10  ">
          <div  class="d-flex p-relative flex-column dark-bg-box-edit m-b-10  p-15 "  *ngFor="let blog of latestCareers">
            <div class="d-flex j-space">
              <h5 style="width:calc(80% - 5px)!important;overflow: hidden;" class=" text-overflow-ellipsis f-heebo f-w-500 f-s-14 m-0 ">{{blog?.title}}</h5>
              <small  style="width:20%;position: absolute;top:1px;right:5px;color:rgb(36, 36, 45)" class="d-flex align-center f-heebo f-w-500 f-s-11  p-l-5 p-b-10 p-t-10">{{blog?.publishingDate | date:"dd MMM"}}</small>
            </div>
            <p style="width:calc(98% - 5px)!important;overflow: hidden;" class="f-s-13 f-w-400">{{blog?.preview}}</p>
            <div class="d-flex j-space">
              <h5 style="width:calc(80% - 5px)!important;overflow: hidden;" class="btn text-overflow-ellipsis f-heebo f-w-500 f-s-14 m-0  ">{{blog?.category}}</h5>
              <small  style="width:20%;" class="d-flex align-center f-heebo f-w-500  f-s-14  p-l-10 p-b-10 p-t-10"></small>
            </div>
          </div>
        </div>
        </div>
        
      </c-col>
      <c-col md="9">
        <div class="m-b-10">
          <c-row class="p-relative" style="position: relative;">
            <c-col md="12" xl="12" sm="12" xs="12" class="  p-t-0 p-b-15 ">
              <div class="flex-column ">
                <div class=" d-flex j-space p-4 align-center  f-s-14 f-w-600 p-2 p-l-15 p-r-15 m-b-20  dark-bg-box2"
                  style="border-top-right-radius:12px;border-bottom-right-radius:12px;color:rgb(39, 38, 53);width: calc(100% + 24px);margin-left: -15px;">
                  <div class="f-s-16 f-roboto f-w-600  ">Basic Details</div>
                  <div class=" d-flex align-center j-end">
                    <button mat-icon-button (click)="toggleBasicDetails()"><mat-icon>{{animationState=='in'? 'unfold_less' : 'unfold_more'}}</mat-icon> </button>
                    <button mat-icon-button (click)="resetBasicDetails()"><mat-icon>refresh</mat-icon></button>
                  </div>
                </div>
                <div [@slideInOut]="animationState" class="divA">
                  <c-row>
                    <c-col [md]="isexpandTitle ? '12' : '6'">
                      <div class="p-5 p-l-0 p-r-2  heading-labels f-s-13 f-w-600 f-roboto">
                        <div class="d-flex gap-2">
                          <span class="f-w-500">Job Role</span>
                          <div class="fw-semibold   d-flex align-center  required-btn">REQUIRED</div>
                         </div>
                        <div class="d-flex align-center">
                          <!-- <div class="f-w-500 f-roboto f-s-13  d-flex align-center m-r-15"></div> -->
                          <div class="f-w-500 f-s-14 f-roboto d-flex align-center" (click)="expandToggleTitle()"><mat-icon
                              class="p-0 f-s-18"
                              style="height: 24px!important;width:14px!important;line-height: 24px;">{{isexpandTitle ?
                              'chevron_left' : 'chevron_right'}}</mat-icon>
                          </div>
                        </div>
                      </div>
                      <c-input-group class="mb-2 f-s-12">
                        <input autoComplete="role" formControlName="role" cFormControl
                          placeholder="Enter the Job Role..."
                          class="f-s-14 p-l-5 p-r-5 p-10  t-a-left  p-relative " />
                          <span  *ngIf="!form?.controls?.role?.value && form?.controls?.role?.touched" class="missing" >Please enter the Job Role</span>
                      </c-input-group>
                    </c-col>
                    <c-col [md]="isexpandTitle ? '12' : '6'">
                      <div class="p-5 p-l-0 p-r-5 f-w-600 m-b-1 heading-labels">
                        <div class="d-flex gap-2">
                          <span class="f-w-500">Work Location</span>
                          <div class="fw-semibold   d-flex align-center  required-btn">REQUIRED</div>
                         </div>
                      </div>
                      <c-input-group class="f-s-12">
                        <input autoComplete="workLocation" formControlName="workLocation" cFormControl
                          placeholder="Please do fill in Work Location for the Job. eg: Kochi"
                          class="f-s-14 f-w-500 p-l-5 p-r-5 p-relative" />
                          <span  *ngIf="!form?.controls?.workLocation?.value && form?.controls?.workLocation?.touched" class="missing" >Please enter the Work Location</span>
                      </c-input-group>
                    </c-col>
                  </c-row>
    
                  <c-row>
                    <c-col md="6">
                      <div class="p-5 p-l-0 p-r-5 f-w-500  heading-labels">
                        <div class="d-flex gap-2">
                          <span class="f-w-500">Work Mode</span>
                          <div class="fw-semibold   d-flex align-center  required-btn">REQUIRED</div>
                         </div>
                      </div>
                      <c-input-group class="mb-2 f-s-12">
                        <textarea autoComplete="workMode" formControlName="workMode" cFormControl
                        spellcheck="false" placeholder="mention the Work Mode. eg: Hybrid/Remote" name="Text1" class="f-s-14 f-w-500 p-l-5 p-r-5 desc p-relative"
                          cols="40" rows="5"></textarea>
                          <span  *ngIf="!form?.controls?.workMode?.value && form?.controls?.workMode?.touched" class="missing" >Please enter the Work Mode</span>
                      </c-input-group>
                    </c-col>
                    <c-col md="6">
                      <div class="p-5 p-l-0 p-r-5 f-w-500  heading-labels">
                        <div class="d-flex gap-2">
                          <span class="f-w-500">Experience</span>
                          <div class="fw-semibold   d-flex align-center  required-btn">REQUIRED</div>
                         </div>
                      </div>
                      <c-input-group class="mb-2 f-s-12">
                        <textarea autoComplete="experience" formControlName="experience" cFormControl
                        spellcheck="false"  placeholder="Provide the Years of experience required for the Job."
                          class="f-s-14 f-w-500 p-l-5 p-r-5 desc p-relative" cols="40" rows="5"></textarea>
                          <span  *ngIf="!form?.controls?.experience?.value && form?.controls?.experience?.touched" class="missing" >Please provide the Years of experience required for the Job</span>
                      </c-input-group>
                    </c-col>
                  </c-row>
                  <c-row>
                    <c-col md="6">
                      <div class="p-5 p-l-0 p-r-5  heading-labels f-w-500">Job Code</div>
                      <c-input-group class="mb-2 f-s-12">
                        <input formControlName="jobCode" cFormControl placeholder="Enter the Job Code"
                          class="f-s-14 f-w-500 p-l-5 p-r-5 p-relative" />
                          <!-- <span  *ngIf="!form?.controls?.jobCode?.value && form?.controls?.jobCode?.touched" class="missing" >Please enter the URL to your blog</span> -->
                      </c-input-group>
                    </c-col>
                    <c-col md="6">
                      <div class="p-5 p-l-0 p-r-5  heading-labels f-w-500">Expected Date To Join</div>
                      <c-input-group class="mb-2 f-s-12">
                          <div (click)="expectedDateToJoin?.showPicker()" class="add-career3 f-roboto m-r-20 p-10  fw-semibold c-pointer">
                              <input type="date" #expectedDateToJoin  style="padding-left: 2px;visibility: hidden;width: 1px!important;"
                                placeholder="Date" formControlName="expectedDateToJoin" id="expectedDateToJoin" name="expectedDateToJoin">
                              <mat-icon class="f-s-16 m-t-4">calendar_today</mat-icon>
                              <div class="f-s-13">{{form?.controls?.expectedDateToJoin?.value ? (form?.controls?.expectedDateToJoin?.value |
                                date:'YYYY-MM-dd') : 'Select Date'}}</div>
                              <mat-icon class="f-s-20 m-t-4 m-l-5">expand_more</mat-icon>
                            </div>
                      </c-input-group>
                    </c-col>
                    <!-- <c-col md="3">
                      <div class="p-5 p-l-0 p-r-5  heading-labels f-w-500">Link Url</div>
                      <c-input-group class="mb-2 f-s-12">
                        <input formControlName="blogUrl" cFormControl placeholder="URL to your content source"
                          class="f-s-14 f-w-500 p-l-5 p-r-5 p-relative" />
                          <span  *ngIf="!form?.controls?.blogUrl?.value && form?.controls?.blogUrl?.touched" class="missing" >Please enter the URL to your blog</span>
                      </c-input-group>
                    </c-col> -->
    
                  </c-row>
                </div>
                
  
               
              </div>
              <div class=" m-t-20 m-b-20 d-flex j-center">
                <hr style="width: 90%;color:rgb(45, 45, 69);height: 10px!important;">
              </div>
              <div class=" d-flex j-space p-4 align-center  f-s-14 f-w-600 p-2 p-l-15 p-r-15 m-b-20  dark-bg-box2"
                style="border-top-right-radius:12px;border-bottom-right-radius:12px;color:rgb(39, 38, 53);width: calc(100% + 24px);margin-left: -15px;">
                <div class="f-s-16 f-roboto f-w-600  ">Content Description</div>
                <div class=" d-flex align-center j-end">
                  <!-- <div class="d-flex align-center ">
                    <button class="btn p-2 p-l-5 p-r-5 m-r-10 f-s-14"
                      [ngClass]=" descriptionEditor ? 'active' : 'inactive'" (click)="sourceStatus()">
                      Visual
                    </button>
                    <button class="btn p-2 p-l-5 p-r-5 f-s-14" [ngClass]="source ? 'active' : 'inactive'"
                      (click)="sourceStatus()">
                      HTML Source
                    </button>
                  </div> -->
                  <button mat-icon-button><mat-icon></mat-icon> </button>
                </div>
              </div>
              <span  *ngIf="!form?.controls?.content?.value && form?.controls?.content?.touched" class="missing" >Please write content for your blog</span>
              <div class=" m-t-10">
                <c-row *ngIf="descriptionEditor && !source" class="m-b-10">
                  <ckeditor [editor]="Editor" [config]="{ toolbar: [ 
                 'heading',
                 '|',
                 'bold',
                 'italic',
                 'underline',
                 'horizontalLine',
                 'link',
                 'bulletedList',
                 'code',
                 'codeBlock',
                 '|',
                 'classicEditor',
                 'numberedList',
                 'sourcedialog',
                 '|',
                 'outdent',
                 'indent',
                 'alignment',
                 '|',
                 'fontColor',
                 'fontSize',
                 'blockQuote',
                 'undo',
                 'redo',
                 'SourceEditing'
                 ] }" [(ngModel)]="careerContent"  formControlName="content" #myEditor></ckeditor>
                </c-row>
                <pre *ngIf="source && descriptionEditor" readonly
                  class="txt-area html-source-editor">{{careerContent}}</pre>
              </div>
            </c-col>
          </c-row>
        </div>
      </c-col>
    </c-row>
  </div>
