<div class="  min-h-screen    rounded-md mt-0">
    <div class="flex justify-between bg-white py-2 px-3 mb-3 rounded-md border">
        <div class="flex gap-1 items-center font-semibold py-1.5 relative cursor-pointer">
            <img src="assets/icons/layout.png" width="20px" height="20px" alt="" srcset="">
            <div class="absolute left-3  top-3.5 z-20 border-pink-200 border-2 rounded-full"><img
                    src="assets/icons/plus.png" width="12px" height="12px" alt="" srcset="">
            </div>
            <span class="ml-2 text-lg">Create Template</span>
        </div>
        <div class="flex gap-4 px-2 py-3 justify-end items-center ">
            <div   
                class="cursor-pointer rounded-3xl relative  text-pink-600 px-3 py-2 font-bold text-sm flex  items-center">
                <span class="  ">Submit & Review </span>
               
            </div>
            <div (click)="statusDropdown=!statusDropdown" 
                class="cursor-pointer rounded-3xl relative  text-gray-800 px-3 py-2 font-medium text-sm flex  items-center">
                <span class="   font-bold">Draft </span>
                <svg class="w-2 h-2 ms-1  ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
                <div *ngIf="statusDropdown" class=" w-44 h-fit bg-white text-black z-10 rounded-lg border absolute text-xs top-10 shadow right-0">
                    <div class="px-4 py-2.5 font-semibold hover:bg-pink-50 text-right bg-pink-100"><span class="mr-1">Save As Draft</span></div>
                    <div class="px-4 py-2.5 font-semibold hover:bg-pink-50 text-right "><span class="mr-1">Submit & Review</span></div>
                </div>
            </div>
            <div class="text-gray-600 font-bold text-sm">
                Clear
            </div>
        </div>
    </div>
    <div class="table  w-full " cdkDropList #tableList="cdkDropList" [cdkDropListData]="table"
        (cdkDropListDropped)="drop($event)">
        
        <div class="flex flex-col bg-white px-4  border-2 border-pink-100  rounded-md">
            <div class="flex justify-between items-center bg-white">
                <div class="flex-1">
                    <div class="text-sm w-full mt-1 mb-2 mr-2 pr-4">
                        <mat-form-field class="w-full font-bold text-xl" floatLabel='never'
                            style="height: 20px;max-height: 20px;">
                            <input matInput placeholder="Template Name" value="Untitled Template" spellcheck="false"
                                class="font-bold p-0">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="text-sm  mt-1 mb-2 ">
                <mat-form-field class="flex items-center mb-2 mt-1 font-semibold text-sm w-full" floatLabel='never'>
                    <textarea matInput placeholder="Description" class="font-semibold p-0 " rows="1"
                        spellcheck="false"></textarea>
                </mat-form-field>
            </div>
        </div>
        <!-- <div class="py-3 px-3  bg-white rounded-md flex justify-between items-end">
        <div class="flex flex-col justify-center flex-2">
            <div class="flex "> <img src="assets/icons/template.png" class="mr-2 mt-3 p-5" width="35px" height="35px" alt="">
                <div class="text-lg w-100">
                    <mat-form-field style="height: 20px;max-height: 20px;width:30vw">
                        <input matInput placeholder="Template Name" class="font-semibold">
                    </mat-form-field>
                </div></div>
        </div>
        <div class="flex flex-1 gap-3 justify-end align-bottom items-end ">
            <button>Create</button>
            <div>Draft</div>
            <div>Clear</div>
        </div>
    </div> -->
    <ul class="flex   flex-wrap items-center px-2" cdkDropList #menuList="cdkDropList" [cdkDropListData]="menu"
    cdkDropListSortingDisabled [cdkDropListConnectedTo]="[tableList]" (cdkDropListDropped)="drop($event)"
    (cdkDropListExited)="exited($event)" (cdkDropListEntered)="entered()">
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

    <div (click)="addItemToList(item)" class="item2   p-6 w-28" *ngFor="let item of menu;let idx=index" cdkDrag
        [cdkDragData]="item">
        <div matRipple [matRippleCentered]="true"
            class="text-center justify-center  items-center flex flex-col gap-1 rounded-lg shadow py-2 bg-white">
            <img *ngIf="item?.img" class="p-t-3" [src]="item?.img" width="22px" height="22px" alt="" srcset="">
            <div class=" font-semibold text-blue-950 xs-text px-2">{{ item?.title }}</div>

        </div>
        <div [ngSwitch]="item?.type" *cdkDragPreview>
            <app-label *ngSwitchCase="'label'" [config]="item" [idx]="idx"></app-label>
            <app-textfield *ngSwitchCase="'textbox'" [config]="item"></app-textfield>
            <app-radio *ngSwitchCase="'radio'" [config]="item"></app-radio>
            <app-dropdown *ngSwitchCase="'dropdown'" [config]="item"></app-dropdown>
        </div>
        <div class="after-content"></div>
    </div>
</ul>
        <div class="border-dashed border-2 min-h-screen mt-2 bg-zinc-100">

            <div *ngFor="let item of table; let idx = index" cdkDrag class=" px-3 py-3">
                <div class="example-custom-placeholder   flex items-center justify-center rounded-md  text-gray-400  h-full py-3 bg-indigo-50 border-dashed border-2 b-indigo-200"
                    *cdkDragPlaceholder>
                    <div [ngSwitch]="item?.type" class="opacity-5">
                        <!-- <app-label *ngSwitchCase="'label'" [config]="item" [idx]="idx"></app-label> -->
                        <app-textfield *ngSwitchCase="'textbox'" [config]="item" [idx]="idx"
                            (swapElement)="swap($event)" (fieldValueChange)="fieldChange($event)"
                            (checkItemEvent)="checkField($event)" (selectFieldEvent)="selectField($event)"
                            [checkedField]="checkedField"></app-textfield>
                        <app-radio *ngSwitchCase="'radio'" [config]="item" [idx]="idx" (swapElement)="swap($event)"
                            (fieldValueChange)="fieldChange($event)" (checkItemEvent)="checkField($event)"
                            (selectFieldEvent)="selectField($event)" [checkedField]="checkedField"></app-radio>
                        <app-dropdown *ngSwitchCase="'dropdown'" [config]="item" [idx]="idx"
                            (swapElement)="swap($event)" (fieldValueChange)="fieldChange($event)"
                            (checkItemEvent)="checkField($event)" (selectFieldEvent)="selectField($event)"
                            [checkedField]="checkedField"></app-dropdown>
                    </div>
                </div>
                <div [ngSwitch]="item?.type">
                    <!-- <app-label *ngSwitchCase="'label'" [config]="item" [idx]="idx"></app-label> -->
                    <app-textfield *ngSwitchCase="'textbox'" [config]="item" [idx]="idx" (swapElement)="swap($event)"
                        (fieldValueChange)="fieldChange($event)" (checkItemEvent)="checkField($event)"
                        (selectFieldEvent)="selectField($event)" [checkedField]="checkedField"></app-textfield>
                    <app-radio *ngSwitchCase="'radio'" [config]="item" [idx]="idx" (swapElement)="swap($event)"
                        (fieldValueChange)="fieldChange($event)" (checkItemEvent)="checkField($event)"
                        (selectFieldEvent)="selectField($event)" [checkedField]="checkedField"></app-radio>
                    <app-dropdown *ngSwitchCase="'dropdown'" [config]="item" [idx]="idx" (swapElement)="swap($event)"
                        (fieldValueChange)="fieldChange($event)" (checkItemEvent)="checkField($event)"
                        (selectFieldEvent)="selectField($event)" [checkedField]="checkedField"></app-dropdown>
                </div>
            </div>
        </div>
    </div>
   

</div>