.max-h-scr-half{
    height: calc(100vh - 90px);
    position: relative;
}

.main-content{
    height: calc(90vh - 90px)!important;
}





.p-sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 2px;
    background-color: white!important;
    width: 100%;
  }
  

  ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: rgb(165, 114, 205)!important;
    font-weight: bold!important;
    font-size: 11px!important;
  }


  ::ng-deep .mat-step-icon .mat-icon{
    display: none!important;

  }

  ::ng-deep .mat-step-icon-state-edit{
    background-color: rgb(165, 114, 205)!important;
  }

  .inactive-element{
    pointer-events:none!important;
    opacity: 0.5;
    color: #cccccc;
  }

  .bg-secondary{
    background-color: var(--secondary-color)!important;
  }

  ::ng-deep .ck-editor__editable {
    min-height: 50vh !important;
    border-bottom-left-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
  }

  ::ng-deep .ck-editor__editable:focus{
    box-shadow: none!important;
    outline: none!important;
    border: 1px solid rgb(214, 105, 173)!important;
  }

  ::ng-deep .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
    border-radius: 8px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    padding: 10px!important;
  }
  

  textarea {
    resize: horizontal!important;
    overflow: hidden!important;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color:gray!important
}

::ng-deep .mat-vertical-stepper-header{
  padding: 1rem 0.50rem!important;
}

::ng-deep .mat-vertical-content-container{
  margin-left: 1.2rem!important;
  position: relative;
}

::ng-deep .mat-vertical-content{
  padding-left:0!important;
  padding-right: 0!important;
}

@media screen and (max-width: 1150px) {
  .max-h-scr-half{
    height: calc(80vh - 50px);
    position: relative;
} 
  .main-content{
    height: calc(75vh - 90px)!important;
}
}