.h-tab{
    height: calc(100vh - 130px);
}

.card{
    width: 13rem!important;
}

.card-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
}



  
  @media screen and (max-width: 1534px) {
    .card-list{
        display: grid;
        grid-template-columns: auto auto auto ;
    }
  }
 
  @media screen and (max-width: 1320px) {
    .card-list{
        display: grid;
        grid-template-columns: 32% 32% 32% ;
    }
  }


