<c-container [fluid]="true" class="m-l-2 ctn-breadcrumb">
  <c-breadcrumb>
    <c-breadcrumb-item url="#">Home</c-breadcrumb-item>
    <c-breadcrumb-item [active]="true">About Us</c-breadcrumb-item>
  </c-breadcrumb>
</c-container>
<c-row ngPreserveWhitespaces style="min-height:80vh!important">
  <div [formGroup]="formGroup">
    <c-col md="12" xl="12" sm="12" xs="12">
      <div class="d-flex w-100 btn-ctn j-end m-t-10">
        <button cButton class="create-btn" size="sm" type="button">Create
        </button>
      </div>
    </c-col>

    <c-row>
      <c-col md="12" xl="6" sm="12" xs="12">
        <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Tagline</div>
        <c-input-group class="mb-3 f-s-12">
          <input autoComplete="tagLine" formControlName="tagLine" cFormControl placeholder=""
            class="f-s-15 f-w-500 p-l-5 p-r-5" />
        </c-input-group>
      </c-col>


      <c-col md="12" xl="6" sm="12" xs="12">
        <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Title</div>
        <c-input-group class="mb-3 f-s-12">
          <input autoComplete="aboutUsTitle" formControlName="aboutUsTitle" cFormControl placeholder=""
            class="f-s-15 f-w-500 p-l-5 p-r-5" />
        </c-input-group>
      </c-col>
      </c-row>

      <c-row>
      <c-col md="12" xl="6" sm="12" xs="12">
        <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Side Cover Image</div>
        <div class="input-group mb-3 f-s-12">
          <input type="file" class="form-control f-s-12" id="inputGroupFile01">
          <label class="input-group-text f-s-12" for="inputGroupFile01">Upload</label>
        </div>
      </c-col> 

      <c-col md="12" xl="6" sm="12" xs="12">
        <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Mission Title</div>
        <c-input-group class="mb-3 f-s-12">
          <input autoComplete="missionTitle" formControlName="missionTitle" cFormControl placeholder=""
            class="f-s-15 f-w-500 p-l-5 p-r-5" />
        </c-input-group>

      </c-col>
      <br /><br />
    </c-row>
    <c-row>
      <c-col md="12" xl="6" sm="12" xs="12">
        <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Successful Project Percentage</div>
        <c-input-group class="mb-3 f-s-12">
          <input type="number" autoComplete="successfulProjectPercentage" formControlName="percentage1" cFormControl
            placeholder="" class="f-s-15 f-w-500 p-l-5 p-r-5" min="0" max="100" required />
          <!-- <div *ngIf="formGroup.get('percentage1')?.invalid && (formGroup.get('percentage1')?.dirty || formGroup.get('percentage1')?.touched)">
                <div *ngIf="formGroup.get('percentage1')?.errors?.['required']" class="text-danger">
                Successful Project Percentage is required.</div>
                <div *ngIf="formGroup.get('percentage1')?.errors?.['min'] || formGroup.get('percentage1')?.errors?.['max']" class="text-danger">Successful Project Percentage must be between 0 and 100.</div>
                </div> -->
        </c-input-group>
      </c-col>
      <c-col md="12" xl="6" sm="12" xs="12">
        <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Problem Solved Percentage</div>
        <c-input-group class="mb-3 f-s-12">
          <input type="number" autoComplete="problemSolvedPercentage" formControlName="percentage2" cFormControl
            placeholder="" class="f-s-15 f-w-500 p-l-5 p-r-5" min="0" max="100" required />
          <!-- <div *ngIf="formGroup.get('percentage2')?.invalid && (formGroup.get('pe.dirty || formGroup.get('percentage2')?.touched)">
                <div *ngIf="formGroup.get('percentage2')?.errors?.['required']" class="text-danger">rcentage2')?
                <br> Problem Solved Percentage is required.</div>
                <div *ngIf="formGroup.get('percentage2')?.errors?.['min'] || formGroup.get('percentage2')?.errors?.['max']" class="text-danger">Problem Solved Percentage must be between 0 and 100.</div>
                </div> -->
        </c-input-group>
      </c-col>

     



    </c-row>


    <c-col md="12" xl="12" sm="12" xs="12">
      <div class="row" *ngIf="aboutUsSummaryEditor">
        <div class="col-lg-6 f-s-14 f-w-500">Text</div>
        <div class="col-lg-6 col-right">
          <button class="source-button html-source-btn" (click)="aboutUsSourceStatus()">
            HTML Source
          </button>
        </div>
      </div>
      <c-row *ngIf="aboutUsSummaryEditor" class="m-b-10">
        <ckeditor [editor]="Editor" [config]="{ toolbar: [ 
                'heading',
                '|',
                'bold',
                'italic',
                'underline',
                'horizontalLine',
                'link',
                'bulletedList',
                'code',
                'codeBlock',
                '|',
                'classicEditor',
                'numberedList',
                'sourcedialog',
                '|',
                'outdent',
                'indent',
                'alignment',
                '|',
                'fontColor',
                'fontSize',
                'blockQuote',
                'undo',
                'redo',
                ] }" [(ngModel)]="aboutUsSummary" formControlName="aboutUsContent" #myEditor></ckeditor>
      </c-row>
      <textarea *ngIf="!aboutUsSummaryEditor" formControlName="aboutUsContent" class="txt-area"></textarea>
      <textarea *ngIf="aboutUsSource && aboutUsSummaryEditor" readonly class="txt-area html-source-editor">
            {{aboutUsSummary}}
        </textarea>
    </c-col>



    <c-col md="12" xl="12" sm="12" xs="12">
      <div class="row" *ngIf="missionDescriptionEditor">
        <div class="col-lg-6 f-s-14 f-w-500">Mission Description</div>
        <div class="col-lg-6 col-right">
          <button class="source-button html-source-btn" (click)="missionSourceStatus()">
            HTML Source
          </button>
        </div>
      </div>

      <c-row *ngIf="missionDescriptionEditor" class="m-b-10">
        <ckeditor [editor]="Editor" [config]="{ toolbar: [ 
                'heading',
                '|',
                'bold',
                'italic',
                'underline',
                'horizontalLine',
                'link',
                'bulletedList',
                'code',
                'codeBlock',
                '|',
                'classicEditor',
                'numberedList',
                'sourcedialog',
                '|',
                'outdent',
                'indent',
                'alignment',
                '|',
                'fontColor',
                'fontSize',
                'blockQuote',
                'undo',
                'redo',
                ] }" [(ngModel)]="missionDescription" formControlName="missionContent" #myEditor></ckeditor>
        <!-- <ckeditor [editor]="Editor" [(ngModel)]="missionDescription" formControlName="missionContent"  #myEditor></ckeditor>  -->
      </c-row>
      <textarea *ngIf="!missionDescriptionEditor" formControlName="missionContent" class="txt-area"></textarea>
      <textarea *ngIf="missionSource && missionDescriptionEditor" readonly class="txt-area html-source-editor">
              {{missionDescription}}
              </textarea>
    </c-col>
    <c-col md="12" xl="12" sm="12" xs="12">
      <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Vision Title</div>
      <c-input-group class="mb-3 f-s-12">
        <input autoComplete="missionTitle" formControlName="missionTitle" cFormControl placeholder=""
          class="f-s-15 f-w-500 p-l-5 p-r-5" />
      </c-input-group>

    </c-col>

    <c-col md="12" xl="12" sm="12" xs="12">
      <div class="row" *ngIf="visionDescriptionEditor">
        <div class="col-lg-6 f-s-14 f-w-500">Vision Description</div>
        <div class="col-lg-6 col-right">
          <button class="source-button html-source-btn" (click)="visionSourceStatus()">
            HTML Source
          </button>
        </div>
      </div>
      <c-row *ngIf="visionDescriptionEditor" class="m-b-10">
        <ckeditor [editor]="Editor" [config]="{ toolbar: [ 
               'heading',
               '|',
               'bold',
               'italic',
               'underline',
               'horizontalLine',
               'link',
               'bulletedList',
               'code',
               'codeBlock',
               '|',
               'classicEditor',
               'numberedList',
               'sourcedialog',
               '|',
               'outdent',
               'indent',
               'alignment',
               '|',
               'fontColor',
               'fontSize',
               'blockQuote',
               'undo',
               'redo',
               ] }" [(ngModel)]="visionDescription" formControlName="visionContent" #myEditor></ckeditor>
        <!-- <ckeditor [editor]="Editor" [(ngModel)]="visionDescription" #myEditor></ckeditor> -->
      </c-row>

      <textarea *ngIf="!visionDescriptionEditor" formControlName="visionContent" class="txt-area"></textarea>
      <textarea *ngIf="visionSource && visionDescriptionEditor" readonly class="txt-area html-source-editor">
               {{visionDescription}}
              </textarea>
    </c-col>

    <br />
    <c-row formArrayName="solutions">
      <c-col>
        <button class="about-us accordion" (click)="isOpenSolutionSection()"
          [ngClass]="{'active-panel': openSolutionSection}">Solutions</button>
        <div class="row panel" [ngClass]="{'open': openSolutionSection}">
          <c-col md="12" xl="12" sm="12" xs="12" class="btn-right m-t-5">
            <button type="button" class="btn btn-primary" (click)="addSolutions()"><b>+</b></button>
          </c-col>
          <ng-container *ngFor="let solution of solutions.controls; let i= index">
            <ng-container [formGroupName]="i">
              <c-col md="12" xl="6" sm="12" xs="12">
                <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Solutions Title</div>
                <c-input-group class="mb-3 f-s-12">
                  <input autoComplete="title" formControlName="title" cFormControl placeholder=""
                    class="f-s-15 f-w-500 p-l-5 p-r-5" />
                </c-input-group>
              </c-col>
              <c-col md="12" xl="6" sm="12" xs="12">
                <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Image</div>
                <div class="input-group mb-3 f-s-12">
                  <input type="file" class="form-control f-s-12" id="inputGroupFile02" formControlName="image">
                  <label class="input-group-text f-s-12" for="inputGroupFile02">Upload</label>
                </div>
              </c-col>
              <c-col md="12" xl="12" sm="12" xs="12">
                <div class="row" *ngIf="descriptionEditor">
                  <div class="col-lg-6 f-s-14 f-w-500">Description</div>
                  <div class="col-lg-6 col-right">
                    <button class="source-button html-source-btn" (click)="descriptionSourceStatus()">
                      HTML Source
                    </button>
                  </div>
                </div>
                <c-row *ngIf="descriptionEditor" class="m-b-10">
                  <ckeditor [editor]="Editor" [config]="{ toolbar: [ 
           'heading',
           '|',
           'bold',
           'italic',
           'underline',
           'horizontalLine',
           'link',
           'bulletedList',
           'code',
           'codeBlock',
           '|',
           'classicEditor',
           'numberedList',
           'sourcedialog',
           '|',
           'outdent',
           'indent',
           'alignment',
           '|',
           'fontColor',
           'fontSize',
           'blockQuote',
           'undo',
           'redo',
           ] }" [(ngModel)]="description" formControlName="descriptionContent" #myEditor></ckeditor>

                  <!-- <ckeditor [editor]="Editor" [(ngModel)]="description" formControlName="descriptionContent" #myEditor></ckeditor> -->
                </c-row>
                <textarea *ngIf="!descriptionEditor" formControlName="descriptionContent" class="txt-area"></textarea>
                <textarea *ngIf="descriptionSource && descriptionEditor" readonly class="txt-area html-source-editor">
                 {{description}}
          </textarea>

              </c-col>
              <c-col md="12" xl="12" sm="12" xs="12" class="btn-center">
                <button type="button" class="btn btn-danger" (click)="solutions.removeAt(i)"><b>-</b></button>
              </c-col>
            </ng-container>
          </ng-container>
        </div>
      </c-col>
    </c-row>
    <br>
    <c-row formArrayName="experts">
      <c-col>
        <button class="about-us accordion" (click)="isOpenExpertSection()"
          [ngClass]="{'active-panel': openExpertSection}">Experts</button>
        <div class="row panel" [ngClass]="{'open': openExpertSection}">
          <c-col md="12" xl="12" sm="12" xs="12" class="btn-right m-t-5">
            <button type="button" class="btn btn-primary" (click)="addExpert()"><b>+</b></button>
          </c-col>
          <ng-container *ngFor="let expert of experts.controls; let i= index">
            <ng-container [formGroupName]="i">
              <c-col md="12" xl="4" sm="12" xs="12">
                <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Experts Image</div>
                <div class="input-group mb-3 f-s-12">
                  <input type="file" class="form-control f-s-12" id="inputGroupFile03" formControlName="image" >
                  <label class="input-group-text f-s-12" for="inputGroupFile03">Upload</label>
                </div>
              </c-col>
              <c-col md="12" xl="4" sm="12" xs="12">
                <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Name</div>
                <c-input-group class="mb-3 f-s-12">
                  <input autoComplete="name" formControlName="name" cFormControl placeholder=""
                    class="f-s-15 f-w-500 p-l-5 p-r-5" />
                </c-input-group>
              </c-col>
              <c-col md="12" xl="4" sm="12" xs="12">
                <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Designation</div>
                <c-input-group class="mb-3 f-s-12">
                  <input autoComplete="designation" formControlName="designation" cFormControl placeholder=""
                    class="f-s-15 f-w-500 p-l-5 p-r-5" />
                </c-input-group>
              </c-col>
              <c-col md="12" xl="4" sm="12" xs="12">
                <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Linkedin Link URL</div>
                <c-input-group class="mb-3 f-s-12">
                  <input autoComplete="linkedinUrl" formControlName="linkedinUrl" cFormControl placeholder=""
                    class="f-s-15 f-w-500 p-l-5 p-r-5" />
                </c-input-group>
              </c-col>
              <c-col md="12" xl="4" sm="12" xs="12">
                <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Facebook Link URL</div>
                <c-input-group class="mb-3 f-s-12">
                  <input autoComplete="facebookUrl" formControlName="facebookUrl" cFormControl placeholder=""
                    class="f-s-15 f-w-500 p-l-5 p-r-5" />
                </c-input-group>
              </c-col>
              <c-col md="12" xl="4" sm="12" xs="12">
                <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Instagram Link URL</div>
                <c-input-group class="mb-3 f-s-12">
                  <input autoComplete="instagramUrl" formControlName="instagramUrl" cFormControl placeholder=""
                    class="f-s-15 f-w-500 p-l-5 p-r-5" />
                </c-input-group>
              </c-col>
              <c-col md="12" xl="12" sm="12" xs="12" class="btn-center">
                <button type="button" class="btn btn-danger" (click)="experts.removeAt(i)"><b>-</b></button>
              </c-col>
            </ng-container>
          </ng-container>
        </div>
      </c-col>
    </c-row>
    <br>
    <c-row formArrayName="news">
      <c-col>
        <button class="about-us accordion" (click)="isOpenNewsSection()"
          [ngClass]="{'active-panel': openNewsSection}">News</button>
        <div class="row panel" [ngClass]="{'open': openNewsSection}">
          <c-col md="12" xl="12" sm="12" xs="12" class="btn-right m-t-5">
            <button type="button" class="btn btn-primary" (click)="addNews()"><b>+</b></button>
          </c-col>
          <ng-container *ngFor="let item of news.controls; let i= index">
            <ng-container [formGroupName]="i">
              <c-col md="12" xl="6" sm="12" xs="12">
                <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">News Image</div>
                <div class="input-group mb-3 f-s-12">
                  <input type="file" class="form-control f-s-12" id="inputGroupFile04" formControlName="image">
                  <label class="input-group-text f-s-12" for="inputGroupFile04">Upload</label>
                </div>
              </c-col>
              <c-col md="12" xl="6" sm="12" xs="12">
                <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Link URL</div>
                <c-input-group class="mb-3 f-s-12">
                  <input autoComplete="linkUrl" formControlName="linkUrl" cFormControl placeholder=""
                    class="f-s-15 f-w-500 p-l-5 p-r-5" />
                </c-input-group>
              </c-col>

              <c-col c-col md="12" xl="12" sm="12" xs="12" class="btn-center">
                <button type="button" class="btn btn-danger" (click)="news.removeAt(i)"><b>-</b></button>
              </c-col>
            </ng-container>
          </ng-container>
        </div>
      </c-col>
    </c-row>
    <!-- <c-row>
      <c-col md="12" xl="6" sm="12" xs="12">
        <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Customer Name</div>
        <c-input-group class="mb-3 f-s-12">
          <input autoComplete="customerName" formControlName="customerName" cFormControl placeholder=""
             class="f-s-15 f-w-500 p-l-5 p-r-5" />
        </c-input-group>
      </c-col>
      <c-col md="12" xl="6" sm="12" xs="12">
        <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Image</div>
        <div class="input-group mb-3 f-s-12">
          <input type="file" class="form-control f-s-12" id="inputGroupFile02">
          <label class="input-group-text f-s-12" for="inputGroupFile02">Upload</label>
        </div>
      </c-col>
      <c-col md="12" xl="6" sm="12" xs="12">
        <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Designation</div>
        <c-input-group class="mb-3 f-s-12">
          <input autoComplete="customerDesignation" formControlName="customerDesignation" cFormControl placeholder=""
            class="f-s-15 f-w-500 p-l-5 p-r-5" />
        </c-input-group>
      </c-col>
      <c-col md="12" xl="6" sm="12" xs="12">
        <div class="p-5 p-l-2 p-r-5 f-s-14 f-w-500">Company</div>
        <c-input-group class="mb-3 f-s-12">
          <input autoComplete="customerCompany" formControlName="customerCompany" cFormControl placeholder=""
            class="f-s-15 f-w-500 p-l-5 p-r-5" />

        </c-input-group>
      </c-col>
    </c-row> -->
    <!-- <c-col md="12" xl="12" sm="12" xs="12">
      <div class="d-flex w-100 btn-ctn j-end m-t-10">
        <button cButton class="primary-custom-btn f-s-13" size="sm" type="button">Create
        </button>
      </div>
    </c-col> -->
  </div>