::ng-deep c-avatar{
    width: 18px!important;
    height: 18px!important;
}

.create-nav{
    opacity: 1!important;
}

.create-nav .c-gr{
    color:rgb(187, 187, 187)!important;
}

.w-200{
    width: 400px!important;
}

.success{
    background-color:rgb(156, 210, 156)!important;
}

.info{
    background-color:rgb(120, 162, 198)!important;
}

.danger{
    background-color:rgb(233, 121, 104)!important;
}

.h-mx-sml{
    height: 12px!important;
    max-height: fit-content!important;
}

.gap-0{
    gap: 0!important;
}

.c-bl{
    color:rgb(3, 116, 215)!important;
}

.c-black{
    color: black!important;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: flex-start!important;
    justify-content: flex-start!important;
}

.a-img{
    width: 38px!important;
    height: 38px!important;
    max-width: 38px!important;
    border-radius: 50%!important;
}

.divider2 {
    border-left: 6px solid rgb(159, 159, 159)!important;
    height: 95px;
    margin-left: 5px;
    margin-right: 5px;
    width: 1px;
  }