<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container breakpoint="xxl">
    <button toggle="visible" cHeaderToggler [cSidebarToggle]="sidebarId" class="ps-1">
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto f-s-14">
      <!-- <img src="assets/icons/sw-logo.png" width="105px" height="25px" alt="" srcset=""> -->
    </c-header-nav>
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>
  </c-container>

</ng-container>
<!--</c-header>-->
<ng-template #userDropdown>
  <div (click)="statusDropdown=!statusDropdown" #drpdown
  class="z-20 cursor-pointer rounded-3xl relative  mr-6  px-3 py-1 font-medium text-sm flex  items-center">
  <span class=" flex items-center font-medium text-sm pr-0.5">New </span>
  <svg class="w-2 h-2 ms-1  ml-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
      viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m1 1 4 4 4-4" />
  </svg>
  <div *ngIf="statusDropdown"
      class=" w-44 h-fit bg-white text-gray-700 z-20 rounded-lg border border-gray-200  absolute text-sm top-10 shadow right-0 p-4">
      <div class="px-4 py-1.5 font-medium hover:bg-pink-50 text-right items-center flex justify-end gap-2 rounded-lg">
        <img src="assets/icons/pkg.svg" class="w-5 h-5" alt="" srcset="">
        <span class="mr-1 ml-1.5">  Package</span>
      </div>
      <div class="px-4 py-1.5 font-medium hover:bg-pink-50 text-right items-center flex justify-end gap-2 rounded-lg mt-2">
        <img src="assets/icons/exercise.svg" class="w-6 h-6" alt="" srcset="">
        <span class="mr-1 ml-1.5">  Exercise</span>
      </div>
      <div class="px-4 py-1.5 font-medium hover:bg-pink-50 text-right items-center flex justify-end rounded-lg mt-2">
        <img src="assets/icons/layout.png" class="w-5 h-5" alt="" srcset="">
        <span class="mr-1 ml-2">  Template</span>
      </div>
  </div>
</div>
  <div class="items-center flex mr-6"><img src="assets/icons/setting.png" width="21px" height="21px" alt="" srcset=""></div>
  <c-dropdown alignment="end" variant="nav-item" class="d-flex align-center">
    <button cButton color="" [caret]="false" cDropdownToggle class="py-0 d-flex align-center"
      style="outline:none!important;border: none!important;">
      <div class="avatar m-b-5 m-r-10">
        <img class="avatar-img a-img" src="/assets/icons/prof.svg" alt="user@email.com">
        <span class="avatar-status bg-success"></span>
      </div>
      <div *ngIf="userName" class="flex-column d-flex user">
        <div class="f-s-13 fw-semibold f-poppins c-black" style="color:black!important">{{userName | titlecase}}</div>
        <div class="f-s-12 f-poppins t-a-left" style="line-height: 9px;">Admin <i class="fa fa-caret-down"></i></div>

      </div>
    </button>
    <ul cDropdownMenu class=" px-2 py-2 w-72 f-roboto shadow-bx" style="border:1px solid rgb(231, 231, 231)!important">
      <li>
        <div class="mt-2 mb-2 flex items-center text-slate-700 text-sm font-semibold py-2 px-4  rounded-lg">
          <div class="avatar m-b-5 m-r-10">
            <img class="avatar-img a-img w-36 h-36" src="/assets/icons/prof.svg" alt="user@email.com">
          </div>
          <div class="flex flex-col ">
            <div class="text-base leading-5">Joel Manuek</div>
            <small class="font-normal">Transformational Coach</small>

          </div>
        </div>
      </li>
      <li>
        <hr cDropdownDivider />
      </li>
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2 px-4 rounded-lg">Account</h6>
      </li>
      <li>
        <div routerLink="./"
          class="mt-2 mb-2 flex items-center text-slate-700 text-sm font-semibold py-2 px-4 hover:bg-gray-100 rounded-lg">
          <svg cIcon class="me-2" name="cilBell"></svg>
          <span class="font-medium">Updates</span>
          <div class="px-2 ml-4 py-0.5 rounded-lg bg-pink-400 text-white font-bold">
            54
          </div>
        </div>
      </li>
      <li>
        <div [routerLink]="'/register'"
          class="mt-2 mb-2 flex items-center text-slate-700 text-sm font-semibold py-2 px-4 hover:bg-gray-100 rounded-lg">
          <img src="assets/icons/add-user.png" class="mr-2 " width="16px" height="16px" alt="" srcset="">
          <span class="font-medium">Create New User</span>

        </div>
      </li>
      <li>
        <hr cDropdownDivider />
      </li>
      <li>
        <div (click)="logout()"
          class="mt-2 mb-2 flex items-center text-slate-700 text-sm font-semibold py-2 px-4 hover:bg-gray-100 rounded-lg"
          style="display: flex;align-items: center;flex-direction: row!important;">
          <img src="assets/icons/logout.png" class="mr-2 ml-1" width="16px" height="16px" alt="" srcset="">
          <span>Log Out</span>
        </div>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>