<div class="pb-3 bg-zinc-50">
    <!-- <div class="text-lg font-bold px-3 py-3 flex gap-3 items-center"><img src="assets/icons/dashboard.png" width="35px" height="35px" alt="" srcset="">  Dashboard</div> -->
    <div class="text-lg font-bold px-2 py-2 mb-2">Hi Joel, <span class="font-semibold text-xl ml-1">Welcome</span></div>
    <div class="flex flex-1 mb-2 gap-5 flex-wrap">
        <div class=" bg-white w-80 h-44 rounded-lg  px-3 py-2" style="box-shadow: rgba(29, 29, 29, 0.1) -4px 9px 25px -6px;">
          <c-chart
          [data]="data"
          [height]="150"
          [options]="chartOptions"
          [type]="'bar'"
        >
        </c-chart>

        </div>
        <div class=" flex  gap-4 flex-1">
            <div class="rounded-lg pink-shadow w-1/3 h-40 bg-white flex gap-3 items-center justify-center">
                <div class=" w-16 h-16  flex  justify-center items-center opacity-70">
                    <img src="assets/icons/pkg.svg" class="w-fit h-fit" alt="" srcset="">
                </div>
                <div class=" flex  flex-col justify-end ">
                    <div class="text-pink-500  font-medium vlarge-text max-w-24 overflow-hidden  text-ellipsis">20</div>
                    <div class="font-semibold text-sm sec-clr max-w-24 overflow-hidden  text-ellipsis">Packages</div>
                </div>


            </div>
            <div class="rounded-lg pink-shadow w-1/3 h-40 bg-white flex gap-3 items-center justify-center">
                <div class=" w-16 h-16  flex  justify-center items-center opacity-80">
                    <img src="assets/icons/exercise.svg" class="w-fit h-fit" alt="" srcset="">
                </div>
                <div class=" flex  flex-col justify-end ">
                    <div class="text-pink-500 font-medium vlarge-text max-w-24 overflow-hidden  text-ellipsis">12</div>
                    <div class="font-semibold text-sm sec-clr max-w-24 overflow-hidden  text-ellipsis">Exercises</div>
                </div>


            </div>
            <div class="rounded-lg pink-shadow w-1/3 h-40 bg-white flex gap-3 items-center justify-center">
                <div class=" w-14 h-14  flex  justify-center items-center opacity-80">
                    <img src="assets/icons/layout.png" class="w-fit h-fit" alt="" srcset="">
                </div>
                <div class=" flex  flex-col justify-end ">
                    <div class="text-pink-500  font-medium vlarge-text max-w-24 overflow-hidden  text-ellipsis">18</div>
                    <div class="font-semibold text-sm sec-clr max-w-24 overflow-hidden  text-ellipsis">Templates</div>
                </div>


            </div>

        </div>
    </div>
    <div class="flex gap-5">
        <!-- <div class="w-1/4">


            <div class="rounded-2xl px-3 py-3 bg-white shadow mt-4">
                <div class="px-2 py-2 text-sm font-bold">Work In Progress</div>
                <div
                    class="flex items-center border-b-2 px-2 py-2 border-gray-100 justify-between text-xs font-medium">

                    <div class="flex gap-1 items-center">
                        <div class=" w-7 h-7  bg-pink-100 rounded-full p-4">
                            <img src="assets/icons/exercise.svg" class="w-fit h-fit p-2" alt="" srcset="">
                        </div>
                        <span> Exercise 1</span>
                    </div>
                    <div class="font-medium">25 Jan 2023</div>
                </div>
                <div
                    class="flex items-center border-b-2 px-2 py-2 border-gray-100 justify-between text-xs font-medium">
                    <div class="flex gap-1 items-center">
                        <div class=" w-7 h-7  bg-pink-100 rounded-full p-4">
                            <img src="assets/icons/exercise.svg" class="w-fit h-fit p-2" alt="" srcset="">
                        </div>
                        <span> Exercise 2</span>
                    </div>
                    <div class="font-medium">24 Jan 2023</div>
                </div>
                <div class="flex items-center  px-2 py-2 border-gray-100 justify-between text-xs font-medium">

                    <div class="flex gap-1 items-center">
                        <div class=" w-7 h-7  bg-pink-100 rounded-full p-4">
                            <img src="assets/icons/pkg.svg" class="w-fit h-fit p-2" alt="" srcset="">
                        </div>
                        <span> Template 1</span>
                    </div>
                    <div class="font-medium">24 Jan 2023</div>
                </div>


            </div>
        </div> -->
        <div class="w-full">
            <div class="px-2 mt-2 font-bold py-2 flex w-full justify-between items-center">
                <div class="flex gap-4 items-center">
                    <span class="text-sm">Recent Packages </span>
                    <div class="flex gap-1 items-center text-xs font-semibold py-1.5 relative cursor-pointer" >
                        <img src="assets/icons/pkg.svg" width="18px" height="18px" alt="" srcset="">
                        <div class="absolute left-3  top-0 z-20 border-pink-200 border-2 rounded-full"><img src="assets/icons/plus.png"  width="11px" height="11px" alt="" srcset="">
                        </div>
                    <span class="ml-1"> New</span>
                    </div>
                </div>
                <div class="text-pink-500 font-semibold text-xs flex items-center gap-0.5">View More <mat-icon class="font-medium text-pink-300">arrow_right_alt</mat-icon></div>
            </div>
            <div class="flex gap-3 ">
                <div class="relative rounded-lg bg-white h-28 w-1/5 border shadow-sm  flex flex-col items-center justify-center">
                    <div class="absolute right-1 top-1 xxs-text text-gray-700 font-medium px-2  rounded-2xl bg-pink-50">In Review</div>
                    <div class="w-12 h-12  flex  justify-center items-center p-8 bg-rose-50 rounded-full">
                        <img src="assets/icons/pkg.svg" class="w-fit h-fit" alt="" srcset="">
                    </div>
                    <div class="text-xs font-semibold">
                        Package 1
                    </div>
                    <div class="xs-text font-bold text-gray-400 ">P1241</div>
                </div>
                <div class="relative rounded-lg bg-white h-28 w-1/5 border shadow-sm  flex flex-col items-center justify-center">
                    <div class="absolute right-1 top-1 xxs-text text-gray-700 font-medium px-2  rounded-2xl bg-green-50">Published</div>
                    <div class=" w-12 h-12  flex  justify-center items-center p-8 bg-rose-50 rounded-full">
                        <img src="assets/icons/pkg.svg" class="w-fit h-fit" alt="" srcset="">
                    </div>
                    <div class="text-xs font-semibold">
                        Package 2
                    </div>
                    <div class="xs-text font-bold text-gray-400 ">P1447</div>
                </div>
                <div class="relative rounded-lg bg-white h-28 w-1/5 border shadow-sm  flex flex-col items-center justify-center">
                    <div class="absolute right-1 top-1 xxs-text text-gray-700 font-medium px-2  rounded-2xl bg-gray-50">Draft</div>
                    <div class=" w-12 h-12  flex  justify-center items-center p-8 bg-rose-50 rounded-full">
                        <img src="assets/icons/pkg.svg" class="w-fit h-fit" alt="" srcset="">
                    </div>
                    <div class="text-xs font-semibold">
                        Package 3
                    </div>
                    <div class="xs-text font-bold text-gray-400 ">P3272</div>
                </div>
                <div class="relative rounded-lg bg-white h-28 w-1/5 border shadow-sm  flex flex-col items-center justify-center">
                    <div class="absolute right-1 top-1 xxs-text text-gray-700 font-medium px-2  rounded-2xl bg-blue-50">In Progress</div>
                    <div class=" w-12 h-12  flex  justify-center items-center p-8 bg-rose-50 rounded-full">
                        <img src="assets/icons/pkg.svg" class="w-fit h-fit" alt="" srcset="">
                    </div>
                    <div class="text-xs font-semibold">
                        Package 4
                    </div>
                    <div class="xs-text font-bold text-gray-400 ">P1668</div>
                </div>
                <div class="relative rounded-lg bg-white h-28 w-1/5 border shadow-sm  flex flex-col items-center justify-center">
                    <div class="absolute right-1 top-1 xxs-text text-gray-700 font-medium px-2  rounded-2xl bg-pink-50">In Review</div>
                    <div class=" w-12 h-12  flex  justify-center items-center p-8 bg-rose-50 rounded-full">
                        <img src="assets/icons/pkg.svg" class="w-fit h-fit" alt="" srcset="">
                    </div>
                    <div class="text-xs font-semibold">
                        Package 5
                    </div>
                    <div class="xs-text font-bold text-gray-400 ">P7881</div>
                </div> 

            </div>
            <div class="px-2 mt-2 font-bold py-2 text-sm">Latest Exercises</div>
            <div class="flex gap-3 ">
                <div class="relative rounded-lg bg-white h-28 w-1/5 border shadow-sm  flex flex-col items-center justify-center">
                    <div class="absolute right-1 top-1 xxs-text text-gray-700 font-medium px-2  rounded-2xl bg-pink-50">In Review</div>
                    <div class=" w-12 h-12  flex  justify-center items-center  p-6 bg-rose-50 rounded-full">
                        <img src="assets/icons/exercise.svg" class="w-fit h-fit p-2" alt="" srcset="">
                    </div>
                    <div class="text-xs font-semibold">
                        Exercise 1
                    </div>
                    <div class="xs-text font-bold text-gray-400 ">P1241</div>
                </div>
                <div class="relative rounded-lg bg-white h-28 w-1/5 border shadow-sm  flex flex-col items-center justify-center">
                    <div class="absolute right-1 top-1 xxs-text text-gray-700 font-medium px-2  rounded-2xl bg-green-50">Published</div>
                    <div class=" w-12 h-12  flex  justify-center items-center  p-6 bg-rose-50 rounded-full">
                        <img src="assets/icons/exercise.svg" class="w-fit h-fit p-2" alt="" srcset="">
                    </div>
                    <div class="text-xs font-semibold">
                        Exercise 2
                    </div>
                    <div class="xs-text font-bold text-gray-400 ">P1447</div>
                </div>
                <div class="relative rounded-lg bg-white h-28 w-1/5 border shadow-sm  flex flex-col items-center justify-center">
                    <div class="absolute right-1 top-1 xxs-text text-gray-700 font-medium px-2  rounded-2xl bg-gray-50">Draft</div>
                    <div class=" w-12 h-12  flex  justify-center items-center  p-6 bg-rose-50 rounded-full">
                        <img src="assets/icons/exercise.svg" class="w-fit h-fit p-2" alt="" srcset="">
                    </div>
                    <div class="text-xs font-semibold">
                        Exercise 3
                    </div>
                    <div class="xs-text font-bold text-gray-400 ">P3272</div>
                </div>
                <div class="relative rounded-lg bg-white h-28 w-1/5 border shadow-sm  flex flex-col items-center justify-center">
                    <div class="absolute right-1 top-1 xxs-text text-gray-700 font-medium px-2  rounded-2xl bg-blue-50">In Progress</div>
                    <div class=" w-12 h-12  flex  justify-center items-center  p-6 bg-rose-50 rounded-full">
                        <img src="assets/icons/exercise.svg" class="w-fit h-fit p-2" alt="" srcset="">
                    </div>
                    <div class="text-xs font-semibold">
                        Exercise 4
                    </div>
                    <div class="xs-text font-bold text-gray-400 ">P1668</div>
                </div>
                <div class="relative rounded-lg bg-white h-28 w-1/5 border shadow-sm  flex flex-col items-center justify-center">
                    <div class="absolute right-1 top-1 xxs-text text-gray-700 font-medium px-2  rounded-2xl bg-pink-50">In Review</div>
                    <div class=" w-12 h-12  flex  justify-center items-center  p-6 bg-rose-50 rounded-full">
                        <img src="assets/icons/exercise.svg" class="w-fit h-fit p-2" alt="" srcset="">
                    </div>
                    <div class="text-xs font-semibold">
                        Exercise 5
                    </div>
                    <div class="xs-text font-bold text-gray-400 ">E7881</div>
                </div> 

            </div>
            <div class="px-2 mt-2 font-bold py-2 text-sm">Templates</div>
            <div class="flex gap-3 ">
                <div class="rounded-lg bg-white h-28 w-1/5 border">

                </div>
                <div class="rounded-lg bg-white h-28 w-1/5 border">

                </div>
                <div class="rounded-lg bg-white h-28 w-1/5 border">

                </div>
                <div class="rounded-lg bg-white h-28 w-1/5 border">

                </div>
                <div class="rounded-lg bg-white h-28 w-1/5 border">

                </div>

            </div>
        </div>

    </div>

</div>